.wrapper {
  position: relative;
  height: 100%;
  padding-bottom: var(--small-gap);
}
.style {
  background: "blue"
}
.main {
  max-width: var(--main-content);
  margin: 0 auto;
  padding: 0 var(--gap);
}